@model Folder[]


@if (Int32.Parse(ViewData["FolderId"].ToString()) == 10){
    <h2>./<a 
        asp-controller="Folder" 
        asp-action="Folder" 
        asp-route-id="@ViewData["ParentId"]"
        >@ViewData["ParentName"]</a>/
    </h2>
}else{
    <h2>./<a 
        asp-controller="Folder" 
        asp-action="Folder" 
        asp-route-id="@ViewData["ParentId"]"
        >@ViewData["ParentName"]</a>/@ViewData["Folder"]/
    </h2>
}
@if (Model.Any())
{
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a class="list-group-item list-group-item-action" 
            asp-controller="Folder" 
            asp-action="Folder"
            asp-route-id="@item.FolderId">
                @item.Name
            </a>
        }
    </div>
}
else{
    <h4 class="list-group-item">Empty folder</h4>
}